body.splash {
    background-repeat:no-repeat;
    background-color: black;
    background-image:url(backgrounds/splashL.png);
    background-size: 100% auto;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -khtml-background-size: 100% auto;
    -moz-background-size: 100% auto;
}
